.navbar{
    background-color: #4F8CB8;
}

.nav-item{
    /* border-bottom: 1px solid white; */
    width: 100%;
}

.nav-item:hover .nav-link{
    color: #9ABBDE;
    /* border-bottom: 1px solid gainsboro; */
}

.side{
    background-color: #3F4466;
}

.nav-link{
    color: white;
}

.nav-user{
    color: white;
    text-decoration: none;
    text-align: right;
}

.card{
    background-color: #D6E6F4;
}

.card-footer{
    color: white !important;
    text-align: center;
    background-color: #9ABBDE;
}

.tambah{
    background-color: #9ABBDE;
}

.card{
    border-radius: 14px;
    overflow: hidden;
}

.card-footer:hover{
    background-color: #4F8CB8;
    transition: 0.5s;
}

.tambah:hover{
    background-color: #4F8CB8;
    transition: 0.5s;
    color: white;
}