.navbar {
    background-color: #4F8CB8;
}

.nav-link:hover{
 color: #353955;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #3F4466;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.navbar {
    z-index: 2 !important;
}

.accordion {
    color: white !important;
}

.dropside {
    background-color: #353955;
    padding-left: 40px;
}

.logdrop {
    position: absolute;
    right: 20px !important;
}

.dropdown-menu {
    width: 350px !important;
    box-shadow: 1px 1px 5px #a1a1a1;
    border-radius: 10px;
}



.sidebar a {
    padding: 12px 8px 12px 32px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

.logo{
    width: 41px;
    margin-right: 3px !important;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar button {
    padding: 12px 8px 12px 32px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar button:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.list-side:hover {
    background-color: #353955;
}

.main {
    margin-top: 50px;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.icon-side{
    margin-right: 10px;
}

.active{
    color: #9ABBDE !important;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}